[project]
	description = Tiny but powerful single file wavefront obj loader
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aerie94
[access "refs/for/refs/*"]
	read = group user/aerie94
	push = group user/aerie94
	label-Code-Review = -2..+2 group user/aerie94
	label-Verified = -1..+1 group user/aerie94
	rebase = group user/aerie94
	removeReviewer = group user/aerie94
	submit = group user/aerie94
[access "refs/heads/*"]
	read = group user/aerie94
	create = group user/aerie94
	push = +force group user/aerie94
	pushMerge = group user/aerie94
[access "refs/tags/*"]
	push = +force group user/aerie94
	pushTag = group user/aerie94
	pushSignedTag = group user/aerie94
